body {
  @apply bg-white;
}

.movie {
  @apply h-screen overflow-hidden;
  @apply flex flex-col items-center;
  @apply static;

  .content {
    @apply w-[375px] h-full;
    @apply relative;

    .wallet {
      @apply absolute;
      @apply top-4 right-4;
    }
  }

  .movie-container {
    @apply w-[375px] mt-16;
    @apply overflow-y-auto;
    height: calc(100% - 140px);

    .list-item {
      @apply h-auto w-full mb-14;
      @apply flex flex-col;

      .time {
        @apply font-normal text-xs text-gray999 px-2 mt-4;
      }

      .name {
        @apply font-bold text-2xl mt-2 px-2;
      }

      .price {
        @apply font-semibold text-2xl px-2 mt-4;
      }

      .description {
        @apply font-normal text-sm text-black33 mt-4 px-2;
      }
      .user {
        @apply flex items-center mt-2 ml-2;
        .user-icon {
          @apply w-5 h-5;
        }
        .address {
          @apply font-normal text-xs px-2 text-gray999;
        }
      }

      .cover-container {
        @apply mt-6 relative;

        .cover {
          @apply w-full aspect-video object-cover;
        }

        .preview {
          @apply rounded-2xl w-28 h-8 absolute bottom-24;
          @apply text-white bg-black/50;
          left: calc(50% - 3.5rem);
        }
      }
      .panel {
        @apply w-full flex flex-row justify-between p-0 items-center mt-4 px-2;

        button {
          @apply bg-reded font-bold text-white text-xl py-1 rounded-md;
          width: calc(100% - 160px);
        }

        .panel-info {
          @apply flex flex-col text-right;

          .normal {
            @apply font-normal text-xs text-gray999;
          }
          .bold {
            @apply font-bold text-base text-gray999;
          }
        }
      }
    }
  }

  .mine-container {
    @apply w-[375px] mt-16;
    height: calc(100% - 140px);

    .item-container {
      @apply w-[375px] h-full;
      @apply overflow-y-auto;

      .my-item-container {
        @apply flex flex-row mt-4;

        .info {
          @apply flex flex-col w-full px-2 justify-between;
          .name {
            @apply font-normal text-lg text-gray333 leading-5;
          }

          .token {
            @apply font-normal text-sm text-gray999;
          }
        }

        .cover-container {
          @apply text-center h-auto;

          .cover {
            @apply w-40 aspect-video object-cover;
          }
        }
      }

      .ticket-container {
        @apply flex flex-row gap-2 justify-between py-2;

        .info {
          @apply flex flex-col gap-2 text-left w-full;
          .name {
            @apply font-normal text-lg text-gray333;
          }

          .token {
            @apply font-normal text-xs text-gray999 leading-3 break-all;
          }
        }

        .cover-container {
          @apply text-center h-full  w-52;

          .cover {
            @apply w-[124px] h-auto object-cover;
          }
        }
      }
    }

    .selector {
      @apply w-full h-16 items-center flex z-50;

      .selector-item {
        @apply mx-2 underline-offset-8 text-sm text-gray333;
      }

      .unselect {
        @apply font-normal;
      }

      .select {
        @apply underline decoration-2 font-bold;
      }
    }
    .line {
      @apply h-[1px] w-full bg-grayde relative top-12 z-0;
    }
  }

  .footer {
    @apply absolute;
    @apply bottom-0 left-0 w-screen;
    @apply bg-white;
    @apply flex flex-row justify-between;

    .tab {
      @apply flex flex-col items-center py-2 px-4 h-full w-full cursor-pointer;

      .tab-icon {
        @apply w-7 h-7;
      }
      .tab-center {
        @apply w-12 h-12 m-0;
      }
      span {
        @apply text-center bg-white text-xs;
      }
    }
  }
}
